/* -------GALLERY---------- */

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
}

.gallery-item img {
  width: 360px;
  height: 200px;
}

.modal {
  width: 1440px;
  padding: 28px 0;
  background-color: rgba(46, 47, 66, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal img {
  max-width: 1112px;
  height: 640px;
}

/* ---------FORM----------- */

body {
  background-color: #f4f4f9;
  margin: 16px;
  display: flex;

}

.feedback-form {
  background: #fff;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 296px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-heading {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  color: #333333;
}

.form-input {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.form-text {
  width: 100%;
  height: 80px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  resize: none;
}

.form-input:focus,
.form-text:focus {
  border-color: #3498db;
  outline: none;
}

.form-submit-btn {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  cursor: pointer;
  font-size: 16px;
}

.form-submit-btn:hover {
  background-color: #2980b9;
}
